@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    background-color: #d5d5d5;
}

.dark {
    background-color: #0a0908;
    /* @apply bg-gradient-to-r from-[#0a0908] to-[#fff] */
}

.blue {
    background-color: #003554;
}

/* .green {
    @apply bg-gradient-to-r from-[#507152] via-[#132a13] to-[#507152]
} */